{% capture cart_page_more_blocks_content %}
  <div class="cart-recommendations">
    {%- content_for 'blocks' -%}
  </div>
{% endcapture %}

<cart-items-component
  class="cart-items-component"
  data-section-id="{{ section.id }}"
>
  <template id="empty-cart-template">
    <div class="section-background color-{{ section.settings.color_scheme }}"></div>
    <div class="section color-{{ section.settings.color_scheme }} section--{{ section.settings.section_width }}">
      <div class="cart--empty" style="{% render 'spacing-style', settings: section.settings %}">
        <h1 class="title title--primary">{{ 'sections.cart.empty_html' | t }}</h1>
        <a href="{{ routes.all_products_collection_url }}" class="button">
          {{ 'general.continue_shopping' | t }}
        </a>
      </div>
    </div>
  </template>

  {% # theme-check-disable UniqueStaticBlockId %}
  <div class="section-background color-{{ section.settings.color_scheme }}"></div>
  <div class="section color-{{ section.settings.color_scheme }} section--{{ section.settings.section_width }}">
    <div style="{% render 'spacing-style', settings: section.settings %}">

      {%- unless cart.empty? -%}
        <form action="{{ routes.cart_url }}" method="post" id="cart-form" class="cart-form" novalidate>
          <div class="cart">
            <div class="cart__inner" style="display: grid; grid-template-columns: 1fr 380px; gap: 40px;">
              <div class="cart__items">
                <div class="js-contents">
                  {%- content_for 'block', id: 'cart-page-items', type: '_cart-products' -%}
                </div>
              </div>

              <div class="cart__summary">
                {%- content_for 'block', id: 'cart-page-summary', type: '_cart-summary' -%}
              </div>
            </div>
          </div>
        </form>

        {% if cart_page_more_blocks_content != blank %}
          {{ cart_page_more_blocks_content }}
        {% endif %}
      {%- endunless -%}

    </div>
  </div>
  {% # theme-check-enable UniqueStaticBlockId %}
</cart-items-component>

{% schema %}
{
  "name": "t:names.cart",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "text"
    },
    {
      "type": "icon"
    },
    {
      "type": "image"
    },
    {
      "type": "button"
    },
    {
      "type": "video"
    },
    {
      "type": "group"
    },
    {
      "type": "spacer"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
